$primary-color: #5cb85c; // Couleur primaire
$secondary-color: #337ab7; // Couleur secondaire
$text-color: #333; // Couleur du texte
$error-color: #d9534f; // Couleur des erreurs
$border-color: #ddd; // Couleur des bordures
$background-color: #f9f9f9; // Couleur de fond
$link-color: #337ab7; // Couleur des liens
$background-header: #f9f9f9;
$body-background: #f9f9f9; // green #5cb85c; // Couleur de fond pour les posts
//COuleur de fond verts très clair
$review-background-color: #f0f0f0; // Couleur de fond pour les reviews
$review-text-color: #333; // Couleur du texte pour les reviews
$review-author-color: #337ab7; // Couleur pour l'auteur de la review
$review-rating-color: gold; // Couleur pour la note de la review
$tertiary-color: darkgreen; // Couleur tertiaire


$screen-sm: 469px;
$screen-md: 769px;
$screen-lg: 969px;