.action-link,
button,
input[type=file]::file-selector-button {
    display: inline-block;
    margin: 0;
    padding: 10px 15px;
    background-color: $primary-color;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    border: none;
    max-width: 250px;

    &:hover {
        background-color: darken($primary-color, 10%);
    }

    &.right {
        margin-left: auto;
    }
}

.action-link-secondary {
    background-color: $secondary-color;

    &:hover {
        background-color: darken($secondary-color, 10%);
    }
}

input[type=file] {
    width: 100%;
}