{% load static %}
<html>

<head>
    <title>FITRevue</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <header class="site-header">
        <nav class="nav-bar">
            <h1 class="site-title"><a href="{% url 'home' %}">FITRevue</a></h1>
            {% if user.is_authenticated %}
            <div class="nav-links">
                <a href="{% url 'home' %}">Flux</a>
                <a href="{% url 'view_user_posts' %}">Posts</a>
                <a href="{% url 'search_and_view_follows' %}">Abonnements</a>
            </div>
            <div class="user-info">
                <!-- Vous êtes connecté en tant que {{ request.user }}. -->
                <a href="{% url 'logout' %}">Se déconnecter</a>
            </div>
            {% endif %}
        </nav>
    </header>
    {% block content %}{% endblock content %}
</body>

</html>