.follow-user-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 16px;

    form {
        display: flex;
        align-items: center;
        gap: 16;
        width: 65%;

        @media screen and (max-width: $screen-sm) {
            width: 95%;
        }
    }


    .action-link {
        width: 200px;
    }

    input {
        height: 38px;
        padding: 4px;
        width: 80%;

        @media screen and (max-width: $screen-sm) {
            width: 95%;
            height: 40px;
        }
    }

    .submit-button {
        @media screen and (max-width: $screen-sm) {
            display: none;
        }
    }

    .submit-button-mobile {

        @media screen and (min-width: $screen-sm) {
            display: none;
        }

        img {
            width: 20px;
        }
    }


    ul {
        list-style: none;
        width: 100%;

        li {
            margin: auto;
            padding: 10px;
            border-radius: 4px;
            margin-bottom: 10px;
            width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8px;

            @media screen and (max-width : $screen-sm) {
                width: 95%;
            }
        }
    }

}