{% extends 'base.html' %}
{% block content %}
<!-- <h2>Photos</h2>
{% for photo in photos %}
<img src="{{ photo.image.url }}">
<p>{{ photo.caption }}</p>
{% endfor %}

<h2>Blog</h2>
<div class="grid-container">
    {% for blog in blogs %}
    <div class="post">
        <a href="{% url 'view_blog' blog.id %}">
            <h4>Billet : {{ blog.title }}</h4>
            <p>Billet : {{ blog.content }}</p>
            <img src="{{ blog.photo.image.url }}">
        </a>
    </div>
    {% endfor %}
</div> -->

<section>
    <a href="{% url 'create_ticket' %}">
        Demander une critique
    </a>

    <a href="{% url 'create_review_and_ticket' %}">
        Créer une critique
    </a>
</section>
<section>
    <div class="">
        {% for ticket in tickets %}
        <div class="ticket">
            <p>{{ ticket.author }} a demandé une critique</p>
            <h4>{{ ticket.title }}</h4>
            <p>{{ ticket.content }}</p>


            {% for review in ticket.review_set.all %}
            <div class="review">
                <p>{{ review.author }} a écrit :</p>
                <p>{{ review.content }}</p>
                <p>{{ review.rating }}</p>
                {% for star in "*****"|slice:review.rating %}
                &#9733;
                {% endfor %}


            </div>
            {% endfor %}

            {% if not ticket.review_set.exists or ticket.author != request.user %}
            <a href="{% url 'create_review' ticket.id %}">
                Créer une critique
            </a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>
{% endblock content %}