{% extends 'base.html' %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        console.log("script js executed")
        $('.follow-btn').click(function () {
            var userId = $(this).data('id');
            $.get('/follow_user/' + userId);
        });

        $('.unfollow-btn').click(function () {
            var userId = $(this).data('id');
            $.get('/unfollow_user/' + userId);
        });
    });
</script>


{% block content %}
<section class="follow-user-section">
    <h1>Suivi d'autres utilisateurs</h1>
    <form method="get">
        <input type="text" name="search" placeholder="Nom d'utilisateur">
        <input class="action-link" type="submit" value="Envoyer">
    </form>

    {% if users %}
    {% for user in users %}
    <ul>
        <li>
            {{ user.first_name }} {{ user.last_name }}
            <!-- <button class="follow-btn" data-id="{{ user.id }}">Follow</button> -->
            <a class="action-link" href="{% url 'follow_user' user.id %}">Suivre</a>
        </li>
    </ul>
    {% endfor %}
    {% elif query %}
    <p>Aucun résultat pour {{ query }}</p>
    {% endif %}

    {% if followers %}
    <h2>Abonnements</h2>
    <ul>
        {% for follower in followers %}
        <li>
            {{ follower.following.last_name }}
            <a class="action-link" href="{% url 'unfollow_user' follower.following.id %}">Désabonner</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if followings %}
    <h2>Abonnés</h2>
    <ul>
        {% for following in followings %}
        <li>
            {{ following.follower.last_name }}

            {% if following.follower.id in following_users_ids %}
            <a class="action-link" href="{% url 'unfollow_user' following.follower.id %}">Désabonner</a>
            {% else %}
            <a class="action-link" href="{% url 'follow_user' following.follower.id %}">Suivre</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</section>
{% endblock content %}