{% load humanize %}
<div class="review post">
    <div class="header">
        <p class="author">{% if review.author == user %} Vous avez {% else %}
            {{ review.author }} a {% endif %}
            publié une critique</p>

        <div class="date">
            {{ review.date_created|naturaltime }}
        </div>
    </div>

    <div class="title-rating">
        <div class="title">
            <p>{{ review.title }}</p>
        </div>

        <div class="rating">
            {% for star in "*****"|slice:review.rating %}
            &#9733;
            {% endfor %}
        </div>
    </div>

    <p class="content">{{ review.content }}</p>

    {% if review.ticket %}
    {% include './ticket_snippet.html' with ticket=review.ticket %}
    {% endif %}



    <div class="actions">
        <a href="{% url 'edit_review' review.id %}" class="action-link">Modifier</a>
        <a href="{% url 'delete_review' review.id %}" class="action-link">Supprimer</a>
    </div>
</div>