{% load humanize %}
<div class="ticket post">
    <div class="header">
        <p class="author">{% if ticket.author == user %}
            Vous avez
            {% else %}
            {{ ticket.author }} a
            {% endif %} demandé une critique</p>
        <p class="author-inside"> Ticket - {% if ticket.author == user %}
            Vous
            {% else %}
            {{ ticket.author }}
            {% endif %}</p>

        <div class="date">
            {{ ticket.date_created|naturaltime }}
        </div>
    </div>
    <div class="title">{{ ticket.title }}</div>
    <div class="main">
        <p class="content">{{ ticket.content }}</p>
        {% if ticket.photo %}
        <img src="{{ ticket.photo.image.url }}" class="image" alt="{{ ticket.title }}">
        {% endif %}
    </div>

    {% if ticket.id and not ticket.review_set.exists %}
    <a href="{% url 'create_review' ticket.id %}" class="action-link create-review-link">Créer une critique</a>
    {% endif %}

    {% if ticket.author == request.user%}
    <div class="actions">
        <a href="{% url 'edit_ticket' ticket.id %}" class="action-link">Modifier</a>
        <a href="{% url 'delete_ticket' ticket.id %}" class="action-link">Supprimer</a>
    </div>
    {% endif %}
</div>